.article-container {
    margin-left: 60px;
    margin-right: 60px;
    height: 318px;
}

.article-title {
    height: 30px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.article-container-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}