.service-container {
    display: block;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.banner-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.banner-desc {
    font-size: 16px;
    color: gray;
    margin-top: 10px;
}

.service {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}