.swipe-item {
    margin-top: 100px;
    height: 200px;
    position: relative;
}

.swiper-image {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 20;
}

.swiper-title {
    position: absolute;
    z-index: 30;
    top: 30px;
    left: 50px;
    font-size: 18px;
    color: black;
    width: 400px;
    line-height: 20px;
}

.swiper-button {
    position: absolute;
    z-index: 30;
    top: 80px;
    left: 50px;
    width: auto;
    height: 42px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 167, 0);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: transparent;
}
